.text {
	color : #2C5952;
	cursor : default;
	font-family : Arial, Helvetica, sans-serif;
	font-size : medium;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
}

.bgLine {
	background-color : #FD903C;
}

.bgTable{
	background-color : #A9D9D2;
}

.bgDarkLine{
	background-color : #2C5952;
}

.bgMiddle{
	background-color : #FFFFFF;
}

.textLight {
	color : #A9D9D2;
	cursor : default;
	font-family : Arial, Helvetica, sans-serif;
	font-size : medium;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
}
.textSmall {
	color : #2C5952;
	cursor : default;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
}
.textSmallLight {
	color : #A9D9D2;
	cursor : default;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
}
